<?xml version="1.0"?>
<html xmlns:f="TYPO3FluidViewHelpers" xmlns:locations="BmLocations">
{namespace locations=Bitmotion\BmLocations\ViewHelpers}
<!-- {namespace locations=Bitmotion\BdLocations\ViewHelpers} -->

<f:layout name="Default" />

<f:section name="main">
	<f:debug>{_all}</f:debug>

	<div class="map-view-helper-map-part">

	<f:if condition="{settings.countrySelect}">
		<f:if condition="{countryList -> f:count()} > 1">
			<div class="map-view-helper-part">
				<f:translate key="LLL:EXT:bm_locations/Resources/Private/Language/locallang_next.xml:lblCountry" />: <f:form.select id="country-select1" options="{countryListSelect}"  />
			</div>
		</f:if>
	</f:if>

	<f:if condition="{settings.distanceSearch}">
	<div class="map-view-helper-part">
	<form id="geocodeform1">
		<div class="input-geocode">
			Umkreissuche:
			<input type="text" id="geocodeinput1" placeholder="PLZ/Adresse" />
			<button id="geocodebutton1">Suchen</button>
		</div>
	</form>
	</div>
	</f:if>

	<f:if condition="{settings.zipSearch}">
	<div class="map-view-helper-part">
	<form id="zipform1">
		<div class="input-geocode">
			Beratersuche:
			<input type="text" id="zipinput1" placeholder="PLZ" />
			<button id="zipbutton1">Suchen</button>
		</div>
	</form>
	</div>
	</f:if>

	<div id="map-view-helper" style="height:510px;">
	</div>

	<div id="consultant-types" class="map-view-helper-part map-view-helper-legend" style="display:block">
	<f:for each="{legend}" as="legendItem">
		<div>
			<div class="consultant-type-circle" style="background-color:{legendItem.color};"></div> {legendItem.name}
		</div>
	</f:for>
	</div>

	<f:if condition="{settings.countrySelect}">
		<f:if condition="{countryList -> f:count()} > 1">
			<div class="map-view-helper-part">
				<f:translate key="LLL:EXT:bm_locations/Resources/Private/Language/locallang_next.xml:lblCountry" />: <f:form.select id="country-select2" options="{countryListSelect}"  />
			</div>
		</f:if>
	</f:if>

	<f:if condition="{settings.distanceSearch}">
	<div class="map-view-helper-part">
	<form id="geocodeform2">
		<div class="input-geocode">
			Umkreissuche:
			<input type="text" id="geocodeinput2" placeholder="PLZ/Adresse" />
			<button id="geocodebutton2">Suchen</button>
		</div>
	</form>
	</div>
	</f:if>

	<f:if condition="{settings.zipSearch}">
	<div class="map-view-helper-part">
	<form id="zipform2">
		<div class="input-geocode">
			Beratersuche:
			<input type="text" id="zipinput2" placeholder="PLZ" />
			<button id="zipbutton2">Suchen</button>
		</div>
	</form>
	</div>
	</f:if>


	</div>




	<a name="map-address-list-anchor" id="map-address-list-anchor"></a>
	<div id="map-address-list" class="map-view-helper-part">
	<f:if condition="{locationsCount}">
		<f:then>
			<div class="tx-bm-locations-contact-list">
			<f:for each="{locations}" as="location">
				<f:render partial="Address" section="main" arguments="{settings: settings, location: location, debug:debug}" />
			</f:for>
			</div>

		</f:then>
		<f:else>
			<f:if condition="{selectedCountry}">
				<f:translate key="tx_bmlocations_empty_search" />
			</f:if>
		</f:else>
	</f:if>
	</div>

	<f:format.raw>
		<locations:mapGoogle mapId="map-view-helper" markerLocations="{markerLocations}" countryList="{countryList}" legend="{legend}" settings="{settings}" />
	</f:format.raw>

	<script type="text/javascript">
//TODO myMap12334

(function() {

	// Geocoding ---------------
	if (jQuery('#geocodeform1')) {

		$("#geocodeinput1").bind("keyup paste", function() {
			$("#geocodeinput2").val($(this).val());
		});
		$("#geocodeinput2").bind("keyup paste", function() {
			$("#geocodeinput1").val($(this).val());
		});


		var geocoding = new L.Geocoding();
		myMap12334.map.addControl(geocoding);

		jQuery('#geocodeform1').submit(function(e) {
			e.preventDefault();
			geocoding.geocode(jQuery('#geocodeinput1').val(), afterGeocoding);
		});

		jQuery('#geocodeform2').submit(function(e) {
			e.preventDefault();
			geocoding.geocode(jQuery('#geocodeinput2').val(), afterGeocoding);
		});

		function geocode() {

			geocoding.geocode(jQuery('#geocodeinput1').val(), afterGeocoding);
		}

		function afterGeocoding(statusOk) {

			if (!statusOk) {
				alert('<f:translate key="tx_bmlocations_geocode_warning" />');
			}

			var popup = new L.Popup();

			popup.setLatLng(geocoding.getLatLng()).setContent(geocoding.getFormattedAddress()).addTo(myMap12334.map);
			myMap12334.map.openPopup(popup);

			var locationIdList = '';;
			myMap12334.markerLayer.eachLayer(
					function (marker) {
						locationIdList = locationIdList + ',' + marker.options.location_id;
					}
			);

			showCountryList('DE', locationIdList, null, geocoding.getLatLng().lat + ',' + geocoding.getLatLng().lng);
		}
	}

	if (jQuery('#zipform1')) {

		$("#zipinput1").bind("keyup paste", function() {
			$("#zipinput2").val($(this).val());
		});
		$("#zipinput2").bind("keyup paste", function() {
			$("#zipinput1").val($(this).val());
		});

		jQuery('#zipform1').submit(function(e) {
			e.preventDefault();
			zipSearch();
		});
		jQuery('#zipform2').submit(function(e) {
			e.preventDefault();
			zipSearch();
		});

		function zipSearch() {
			var zip = jQuery('#zipinput1').val();
			showZipList('DE', zip);
		}
	}




	// select country by select box
	jQuery('#country-select1, #country-select2').change(function() {
		jQuery('#country-select1').val(this.value);
		jQuery('#country-select2').val(this.value);

		if (this.value) {
			myMap12334.clickCountryByID(this.value);
		}
	});



	// set country in selectbox by iso code
	function setCountrySelectbox(iso2){
		jQuery('#country-select1').val(iso2);
		jQuery('#country-select2').val(iso2);
	};

	function clearCountryList()
	{
		jQuery('#map-address-list').html('&nbsp;');
	}

	// ajax calls to display address lists

	function showZipList(isoId, zip, callback)
	{
		clearCountryList();

		if (isoId==null) {
			isoId = 'DE';
		}

		var requestData = {
			'magic': 'BmLocations',
			'vendorName': 'Bitmotion',
			'extensionName': 'BmLocations',
			'pluginName': 'List',
			'controllerName' : 'Map',
			'actionName' : 'addressListByZip',
			'arguments' :<![CDATA[{]]>
				'cn': isoId,
				'zip': zip,
				'ct': '{consultantTypeList}',
				'dv': <locations:intval value="{settings.division}" />
			}
		};

		var url = createActionUrl(requestData['arguments']);

		jQuery.ajax(<![CDATA[{]]>
			type: "GET",
			url: '{requestUri}',
			params:<![CDATA[{]]>},
			data: requestData,
			success: function(ajaxResponseMessage){
				jQuery('#map-address-list').html(ajaxResponseMessage);

				updateUrl(requestData, url)

				var $target = jQuery('#map-address-list-anchor');

				jQuery('html, body').stop().animate({
					'scrollTop': ($target.offset().top - 100)
				}, 600, 'swing');

				if (callback) {
					callback.call();
				}
			}
		});
		return false;
	};


	function showCountryList(isoId, locationId, regionId, coordinates, callback)
	{
		clearCountryList();

		if (isoId==null) {
			isoId = '';
		}
		if (locationId== null) {
			locationId = 0;
		}
		if (regionId==null) {
			regionId = '';
		}

		var requestData = {
			'magic': 'BmLocations',
			'vendorName': 'Bitmotion',
			'extensionName': 'BmLocations',
			'pluginName': 'List',
			'controllerName' : 'Map',
			'actionName' : 'addressList',
			'arguments' :<![CDATA[{]]>
				'cn': isoId,
				'loc': locationId,
				'rg': regionId,
				'ct': '{consultantTypeList}',
				'dv': <locations:intval value="{settings.division}" />,
			'co': coordinates
			}
		};


		var url = createActionUrl(requestData['arguments']);

		jQuery.ajax(<![CDATA[{]]>
			type: "GET",
			url: '{requestUri}',
			params:<![CDATA[{]]>},
			data: requestData,
			success: function(ajaxResponseMessage){

				jQuery('#map-address-list').html(ajaxResponseMessage);

				updateUrl(requestData, url)

				var $target = jQuery('#map-address-list-anchor');

				jQuery('html, body').stop().animate({
					'scrollTop': ($target.offset().top - 100)
				}, 600, 'swing');

				if (callback) {
					callback.call();
				}
			}
		});
		return false;
	};

	function updateUrl(requestData, url)
	{
		window.history.pushState(requestData,"", url);
		var aPdf = jQuery('a.pdf');
		var printUrl = aPdf.attr('href');
		printUrl = printUrl.replace(/\?.*$/g, '');
		printUrl = printUrl + window.location.search
		aPdf.attr('href', printUrl);
	}

	function createActionUrl(arguments)
	{
		var url = '<f:uri.action action="list" noCache="TRUE" arguments="{cn : 'xcn', loc : 'xloc', rg:'xrg', ct:'xct', dv:'xdv', co:'xco'}"/>';

		var url = decodeURIComponent(url);

		for (var key in arguments) {
			var value = arguments[key];
			if (typeof value == 'undefined') {
				value = '';
			}
			url = url.replace('=x'+key, '='+value);
		}
		return url;
	}


	myMap12334.showCountryList = showCountryList;
	myMap12334.clearCountryList = clearCountryList;
	myMap12334.setCountrySelectbox = setCountrySelectbox;

	<f:if condition="{selectedCountry}">
			setTimeout(function(){myMap12334.selectCountryByID('{selectedCountry}');}, 10);
	</f:if>
})();



	</script>

</f:section>
</html>
