<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-bm-locations" >
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_competence.name" />
		</td>
		<td>
		{competence.name}
		</td>
	</tr>
</table>
</html>