<?xml version="1.0"?>
<html xmlns:f="TYPO3FluidViewHelpers" xmlns:locations="BmLocations">
<!-- {namespace locations=Bitmotion\BdLocations\ViewHelpers} -->
{namespace locations=Bitmotion\BmLocations\ViewHelpers}


<f:section name="main">

	<div class="tx-bm-locations-contact">

		<div class="vcard">

			<div class="tx-bm-locations-contact-hr"></div>

			<div class="tx-bm-locations-addressdata"
				id="tx-bm-locations-{location.uid}">


				<div class="consultant-type"><h2>
					{location.consultantType.name}
					<f:if condition="{location.segment}">
						<br />{location.segment}
					</f:if>
					<f:if condition="{location.regionName}">
						<br />{location.regionName}
					</f:if>
					</h2>
				</div>


				<div class="adr-table">
					<div class="adr-row">

						<f:if condition="{location.consultant.image}">
							<f:then>

								<div class="adr-content adr-cell tx-bm-locations-image">
									<f:image
										src="uploads/tx_bmlocations/{location.consultant.image}"
										width="686m" height="340m" alt="" />

									<f:if condition="{location.consultant.description}">
										<div class="adr-content adr-description">
											<f:format.nl2br>{location.consultant.description}</f:format.nl2br>
										</div>
									</f:if>
								</div>

							</f:then>
							<f:else>

								<f:if condition="{location.consultant.description}">
									<div class="adr-content adr-cell tx-bm-locations-image">
										<div class="adr-content adr-description">
											<f:format.nl2br>{location.consultant.description}</f:format.nl2br>
										</div>
									</div>
								</f:if>

							</f:else>
						</f:if>

					</div>
				</div>

				<div class="adr-table">

					<div class="adr-row">
						<div class="adr-cell">

							<f:if condition="{location.distance} > 0">
								<div class="adr-row">
									<div class="adr-label adr-cell">
										<f:translate key="tx_bmlocations_distance" />:
									</div>
									<div class="adr-content adr-cell">
										<f:format.number decimals="0">{location.distance}</f:format.number>
										km
									</div>
								</div>
							</f:if>


							<div class="fn adr-row">
								<div class="adr-label adr-cell">
									<f:translate key="tx_bmlocations_name" />:
								</div>
								<div class="adr-content adr-cell">
									<div class="name">
										<f:format.nl2br>{location.consultant.name}</f:format.nl2br>
										{locations:frontendEditIcon(record:location)}
									</div>
									<div class="type">
										<f:translate
											key="tx_bmlocations_domain_model_consultant.type.{location.consultant.type}" />
									</div>
								</div>
							</div>

							<f:if condition="{location.hideAddress} == 0">
								<f:if condition="{0:location.baseAddress.address} == {0:''}">
									<f:then>
									</f:then>
									<f:else>
										<f:if condition="{0:location.baseAddress.city} == {0:''}">
											<f:then>
											</f:then>
											<f:else>
												<div class="adr work adr-row">
													<div class="adr-label adr-cell">
														<f:translate key="tx_bmlocations_address" />:
													</div>
													<div class="adr-content adr-cell">
														<div class="street-address">
															<f:format.nl2br>{location.baseAddress.address}</f:format.nl2br>
														</div>

														<div class="tx-bm-locations-address-city">
															<span class="postal-code">{location.baseAddress.zip}</span>
															<span class="locality">{location.baseAddress.city}</span>
														</div>


														<div class="country-name">{location.baseAddress.countryName}</div>
													</div>
												</div>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</f:if>

							<f:if condition="{location.baseAddress.phone1}">
								<div class="adr-phone adr-row">
									<div class="adr-label adr-cell">
										<f:translate
											key="tx_bmlocations_domain_model_location.phone_type.I.{location.baseAddress.phone1Type}" />:
									</div>
									<div
										class="adr-content tel {f:translate key='microformat.phone_type.I.{location.baseAddress.phone1Type}'}">{location.baseAddress.phone1}</div>
								</div>
							</f:if>

							<f:if condition="{location.baseAddress.phone2}">
								<div class="adr-phone adr-row">
									<div class="adr-label adr-cell">
										<f:translate
											key="tx_bmlocations_domain_model_location.phone_type.I.{location.baseAddress.phone2Type}" />:
									</div>
									<div
										class="adr-content tel {f:translate key='microformat.phone_type.I.{location.baseAddress.phone2Type}'}">{location.baseAddress.phone2}</div>
								</div>
							</f:if>

							<f:if condition="{location.baseAddress.phone3}">
								<div class="adr-phone adr-row">
									<div class="adr-label adr-cell">
										<f:translate
											key="tx_bmlocations_domain_model_location.phone_type.I.{location.baseAddress.phone3Type}" />:
									</div>
									<div
										class="adr-content tel {f:translate key='microformat.phone_type.I.{location.baseAddress.phone3Type}'}">{location.baseAddress.phone3}</div>
								</div>
							</f:if>

							<f:if condition="{location.baseAddress.phone4}">
								<div class="adr-phone adr-row">
									<div class="adr-label adr-cell">
										<f:translate
											key="tx_bmlocations_domain_model_location.phone_type.I.{location.baseAddress.phone4Type}" />:
									</div>
									<div
										class="adr-content tel {f:translate key='microformat.phone_type.I.{location.baseAddress.phone4Type}'}">{location.baseAddress.phone4}</div>
								</div>
							</f:if>

							<f:if condition="{location.baseAddress.phone5}">
								<div class="adr-phone adr-row">
									<div class="adr-label adr-cell">
										<f:translate
											key="tx_bmlocations_domain_model_location.phone_type.I.{location.baseAddress.phone5Type}" />:
									</div>
									<div
										class="adr-content tel {f:translate key='microformat.phone_type.I.{location.baseAddress.phone5Type}'}">{location.baseAddress.phone5}</div>
								</div>
							</f:if>



							<f:if condition="{location.baseAddress.email1}">
								<div class="adr-email adr-row">
									<div class="adr-label adr-cell">
										<f:translate key="tx_bmlocations_email" />:
									</div>
									<div class="adr-content adr-cell">
										<f:link.email email="{location.baseAddress.email1}"
											class="email" />
									</div>
								</div>
							</f:if>

							<f:if condition="{location.baseAddress.email2}">
								<div class="adr-email adr-row">
									<div class="adr-label adr-cell">
										<f:translate key="tx_bmlocations_email" />:
									</div>
									<div class="adr-content adr-cell">
										<f:link.email email="{location.baseAddress.email2}"
											class="email" />
									</div>
								</div>
							</f:if>


							<f:if condition="{location.baseAddress.www1}">
								<div class="adr-www adr-row">
									<div class="adr-label adr-cell">
										<f:translate key="tx_bmlocations_www" />:
									</div>
									<div class="adr-content adr-cell">
										<f:link.external uri="http://{location.baseAddress.www1}"
											target="_blank" class="url">{location.baseAddress.www1}</f:link.external>
									</div>
								</div>
							</f:if>

							<f:if condition="{location.baseAddress.www2}">
								<div class="adr-www adr-row">
									<div class="adr-label adr-cell">
										<f:translate key="tx_bmlocations_www" />:
									</div>
									<div class="adr-content adr-cell">
										<f:link.external uri="http://{location.baseAddress.www2}"
											target="_blank" class="url">{location.baseAddress.www2}</f:link.external>
									</div>
								</div>
							</f:if>

							<f:if condition="{location.consultant.socialMedia}">
								<div class="adr-www adr-row">
									<div class="adr-label adr-cell"></div>
									<div ng-class="adr-content adr-cell">
										<f:for each="{location.consultant.socialMedia}" as="profile">
											<f:link.external uri="{profile.profileUrl}">
												<f:image alt="{profile.provider.title}" title="{profile.provider.title}" src="/uploads/tx_bmsocialmedia/{profile.provider.icon}"/>
											</f:link.external>
										</f:for>
									</div>
								</div>
							</f:if>

							<div class="adr-www adr-row">
								<div class="adr-label adr-cell"></div>
								<div class="adr-content adr-cell">
									<f:link.action action="vCard" controller="Contact" arguments="{location: location}" pluginName="vCard" noCacheHash="TRUE" pageUid="{settings.pages.vCard}">
										<f:translate key="tx_bmlocations_download_vcard" />
									</f:link.action>
								</div>
							</div>

							<f:if condition="{settings.zipSearch}">
								<f:if condition="{location.hideLocation} == 0">
									<f:if condition="{location.latitude} > 0">
										<f:if condition="{location.latitude} > 0">
											<div class="routelink adr-row">
												<div class="adr-label adr-cell">
													<f:translate key="tx_bmlocations_routelink" />
												</div>
												<div class="adr-content adr-cell">
													<a href="{locations:routeUrl(location:location)}"
														target="_blank"><f:translate
															key="LLL:EXT:bm_locations/Resources/Private/Language/locallang_next.xml:lblRoutePlanner" /></a>
												</div>
											</div>
										</f:if>
									</f:if>
								</f:if>
							</f:if>


						</div>
						<div class="adr-cell">
							<f:if condition="{location.description}">
								<div class="adr-label">Zuständig für PLZ-Regionen:</div>
								<div class="adr-content">
									<f:format.nl2br>{location.description}</f:format.nl2br>
								</div>
							</f:if>

						</div>
					</div>

				</div>

			</div>

		</div>


	</div>
</f:section>
</html>
