<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<h1>Single View for Competence</h1>

<f:flashMessages />
<f:render partial="Competence/Properties" arguments="{competence:competence}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New Competence</f:link.action>
</f:section>
</html>