<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Location</h1>

<f:flashMessages />

<table  class="tx_bmlocations" >
	<tr>
		<th><f:translate key="tx_bmlocations_domain_model_location.longitude" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.latitude" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.adress" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.zip" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.city" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.auto_coordinates" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.hide_location" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.hide_adress" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.zip_ranges" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.type" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.no_country_list_in_pdf" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.segment" /></th>
		<th><f:translate key="tx_bmlocations_domain_model_location.region_name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{locations}" as="location">
		<tr>
			<td><f:link.action action="show" arguments="{location : location}"> {location.longitude}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.latitude}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.adress}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.zip}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.autoCoordinates}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.hideLocation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.hideAdress}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.zipRanges}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.noCountryListInPdf}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.segment}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.regionName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{location : location}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{location : location}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Location</f:link.action>
</f:section>
</html>