<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-bm-locations" >
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.longitude" />
		</td>
		<td>
		{location.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.latitude" />
		</td>
		<td>
		{location.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.adress" />
		</td>
		<td>
		{location.adress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.zip" />
		</td>
		<td>
		{location.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.city" />
		</td>
		<td>
		{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.auto_coordinates" />
		</td>
		<td>
		{location.autoCoordinates}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.hide_location" />
		</td>
		<td>
		{location.hideLocation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.hide_adress" />
		</td>
		<td>
		{location.hideAdress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.zip_ranges" />
		</td>
		<td>
		{location.zipRanges}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.type" />
		</td>
		<td>
		{location.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.no_country_list_in_pdf" />
		</td>
		<td>
		{location.noCountryListInPdf}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.segment" />
		</td>
		<td>
		{location.segment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bmlocations_domain_model_location.region_name" />
		</td>
		<td>
		{location.regionName}
		</td>
	</tr>
</table>
</html>